header {
  margin-bottom: 80px;
}
#presentation {
  padding-block: 20px;
}
#section1 {
  padding-bottom: 50px;
}
/* Deuxième section */
#section2 {
  background-color: #eee;
  /*display: flex;
  align-items: top;
  gap: 30px;
  */
  border-radius: 20px;
  padding-block: 70px !important;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#section2 #somme-aticles {
  width: 33%;
}
#section2 #somme-aticles h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}
#section2 #somme-aticles p {
  text-align: justify;
  margin-block-end: 20px;
  color: #666;
}
#section2 #somme-aticles a {
  background-color: black;
  color: #fff;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
#section2 #somme-aticles a:hover {
  background-color: #f9bf29;
}
#section2 #articles {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
#section2 #articles a {
  text-decoration: none;
  color: #333;
  position: relative;
  padding-block-end: 50px;
  max-width: 200px;
  margin-top: 40px;
}
#section2 #articles a div p {
  text-align: center;
}
#section2 #articles a div p.article-nom {
  font-size: 1.3em;
  font-weight: 550;
  margin-block: 15px;
}
#section2 #articles a div p.article-price {
  font-weight: bold;
  font-size: 1.4em;
}
#section2 #articles a .bottom {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}
#section2 #articles a:hover {
  animation: anim 80ms ease forwards;
  -webkit-animation: anim 80ms ease forwards;
}
@keyframes anim {
  0% {
    background: linear-gradient(to bottom, transparent 100%, #abccbf);
  }
  20% {
    background: linear-gradient(to bottom, transparent 90%, #abccbf);
  }
  40% {
    background: linear-gradient(to bottom, transparent 80%, #abccbf);
  }
  60% {
    background: linear-gradient(to bottom, transparent 70%, #abccbf);
  }
  80% {
    background: linear-gradient(to bottom, transparent 60%, #abccbf);
  }
  100% {
    background: linear-gradient(to bottom, transparent 10%, #abccbf);
  }
}
#section2 #articles a:hover img {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
#section2 #articles a .bottom span {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translateY(50px);
  transition: 0.5s ease;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  opacity: 0;
  background-color: #333;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
#section2 #articles a:hover .bottom span {
  opacity: 1;
  transform: translateY(15px);
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
}
#section2 #articles img {
  width: 100%;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
#section2 #pagination {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}
#section2 #pagination a {
  color: #fff;
  /*background-color: #3b5d50;
  */
  background-color: #f9bf29;
  border: 1px solid #f9bf29;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.5s ease;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
#section2 #pagination a:hover {
  background-color: transparent;
  color: #f9bf29;
  color: #3b5d50;
}
