* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
body {
  /* max-width: 1920px; */
  height: 100vh;
}

/* Deuxième section */
#section2 {
  background-color: white;
  display: flex;
  align-items: top;
  gap: 30px;
  padding-block-start: 60px !important;
}
#section2 #somme-aticles {
  width: 33%;
}
#section2 #somme-aticles h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}
#section2 #somme-aticles p {
  text-align: justify;
  margin-block-end: 20px;
  color: #666;
}
#section2 #somme-aticles a {
  background-color: black;
  color: #fff;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
#section2 #somme-aticles a:hover {
  background-color: #f9bf29;
}
#section2 #articles {
  display: flex;
  gap: 20px;
}
#section2 #articles a {
  text-decoration: none;
  color: #333;
  position: relative;
  padding-block-end: 50px;
}
#section2 #articles a div p {
  text-align: center;
}
#section2 #articles a div p.article-nom {
  font-size: 1.3em;
  font-weight: 550;
  margin-block: 15px;
}
#section2 #articles a div p.article-price {
  font-weight: bold;
  font-size: 1.4em;
}
#section2 #articles a .bottom {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}
#section2 #articles a:hover {
  animation: anim 80ms ease forwards;
  -webkit-animation: anim 80ms ease forwards;
}
@keyframes anim {
  0% {
    background: linear-gradient(to bottom, transparent 100%, #dce5e4);
  }
  20% {
    background: linear-gradient(to bottom, transparent 90%, #dce5e4);
  }
  40% {
    background: linear-gradient(to bottom, transparent 80%, #dce5e4);
  }
  60% {
    background: linear-gradient(to bottom, transparent 70%, #dce5e4);
  }
  80% {
    background: linear-gradient(to bottom, transparent 60%, #dce5e4);
  }
  100% {
    background: linear-gradient(to bottom, transparent 10%, #dce5e4);
  }
}
#section2 #articles a:hover img {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
#section2 #articles a .bottom span {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translateY(50px);
  transition: 0.5s ease;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  opacity: 0;
  background-color: #333;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
#section2 #articles a:hover .bottom span {
  opacity: 1;
  transform: translateY(15px);
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
}
#section2 #articles img {
  width: 100%;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
#why-choose-us {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin-block: 50px;
}
#why-choose-us .why {
  flex: 1;
}
#why-choose-us .why h2 {
  font-size: 2.3em;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 15px;
}
#why-choose-us .why p {
  color: #666;
  line-height: 30px;
}
#why-choose-us .why #reasons-to-choose-us {
  margin-block-start: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
#why-choose-us .why #reasons-to-choose-us .reason-card {
  width: 300px;
}
#why-choose-us .why #reasons-to-choose-us .reason-card h4 {
  margin-block: 20px;
  font-weight: bold;
  letter-spacing: 1.1px;
  font-size: 1.2em;
}
#why-choose-us .why #reasons-to-choose-us .reason-card p i {
  position: relative;
}
#why-choose-us .why #reasons-to-choose-us .reason-card p i:after {
  position: absolute;
  bottom: -10px;
  right: -15px;
  z-index: -1;
  content: "";
  background-color: #cbd5d1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#why-choose-us #image-container {
  max-width: 530px;
  max-height: 100%;
  /* width: fit-content; */
}
#why-choose-us #image-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* #why-choose-us > img {
  max-width: 530px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
} */
#section3 {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 80px;
  flex-wrap: wrap;
}
#section3 .images {
  /* flex: 1; */
  width: 800px;
  max-width: 800px;
  display: flex;
  align-items: top;
  gap: 20px;
  position: relative;
  margin-bottom: 100px;
  /* overflow: hidden; */
}
#section3 img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#section3 .images img {
  object-fit: cover;
}
#section3 #img1 {
  /* width: 450px; */
  flex: 1;
  max-width: 500px;
  max-height: 100%;
}
#section3 #img2 {
  max-width: 280px;
  max-height: 230px;
  position: absolute;
  right: 57px;
  top: 0;
}
#section3 #img3 {
  /* display: none; */
  width: 370px;
  position: absolute;
  right: 57px;
  top: 250px;
}
#section3 .description {
  /* width: 35%; */
  flex: 1;
}
#section3 h2 {
  font-size: 2em;
  font-weight: 550;
  text-transform: capitalize;
  margin-block-end: 20px;
}
#section3 p {
  margin-block: 20px;
}
#section3 p,
#section3 li {
  color: #666;
  line-height: 20px;
  text-align: justify;
  margin-block: 10px;
}
#section3 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: circle;
  /* width: 45%; */
  flex: 1;
  margin-top: 20px;
}
#section3 ul li {
  width: 40%;
}
#section3 a {
  background-color: black;
  color: white;
  margin-top: 30px;
}
#others-articles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#others-articles article {
  display: flex;
  height: 120px;
  margin-top: 60px;
  gap: 15px;
  width: 33%;
}
#others-articles article img {
  background-color: #dce5e4;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#others-articles article h4 {
  font-size: 1.2em;
  margin-bottom: 15px;
}
#others-articles article p {
  color: #666;
  margin-bottom: 15px;
}
#others-articles article .more-link {
  text-decoration: none;
  color: #666;
}

@media all and (max-width: 1600px) {
  #others-articles {
    padding-bottom: 150px;
  }
  footer #newsLettersContainer img {
    width: 350px;
    object-fit: cover;
  }
  #section3 #img3 {
    bottom: -60px;
  }
}
@media screen and (max-width: 1000px) {
  #section2 #somme-aticles {
    width: 100%;
  }
}

@media all and (max-width: 850px) {
  #section3 .description {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  #section3 .images {
    display: grid;
    grid-template-areas:
      "lf tr"
      "lf br";
  }
  #section3 .images img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  #section3 #img1 {
    grid-area: lf;
    max-width: 100%;
    height: 100%;
    /* width: 400px;

    max-width: 850px; */
  }
  #section3 #img3 {
    grid-area: br;
    position: static;
    max-width: 100%;
    /* width: 50%;
    height: 100%;

    max-width: 850px; */
  }
  #section3 #img2 {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    position: static;
    /* width: 250px;
    height: 100%; */
    grid-area: tr;

    /* max-width: 850px; */
  }
  #others-articles article {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  #why-choose-us {
    display: block;
  }
  #why-choose-us #image-container {
    min-width: calc(100% - 80px);
    max-width: 100%;
    margin-top: 30px;
    text-align: center;
  }
  /* #why-choose-us #image-container img {
    min-width: 500px;
    max-width: 100%;
  } */
}
@media screen and (max-width: 600px) {
  #section2 {
    flex-wrap: wrap;
  }
  #section2 #articles {
    flex-wrap: wrap;
  }
  #why-choose-us .why #reasons-to-choose-us .reason-card {
    width: 100%;
  }
  #why-choose-us .why #reasons-to-choose-us .reason-card h4 {
    text-align: center;
  }
  #why-choose-us .why #reasons-to-choose-us .reason-card p {
    text-align: center;
  }
  #others-articles article {
    width: 100%;
  }
}
